.ipynb_checkpoints/
.idea/
notes/.*
datasets/
results/
__pycache__/
.ipynb_checkpoints/
debug/
personachat/
expres/
testres/
reserve/
log
helmo/launch/results/
helmo/interact/pkg/
helmo/interact/results/
helmo/interact/src/
helmo/interact/src/
helmo/interact/telegram/
helmo/interact/answers*.txt
helmo/interact/damir_dialogs.txt
helmo/lstm_computation_effectiveness/results/
test.txt
