.ipynb_checkpoints/**
.idea/**
notes/.*
datasets/**
results/**
__pycache__/**
.ipynb_checkpoints/**
datasets/**
debug/**
.idea/**
personachat/**
expres/**
testres/**
reserve/**
reserve/100_100short_dp0.7/**
helmo/launch/results/**
