.ipynb_checkpoints/
.idea/
notes/.*
misc/
datasets/
dataset_tags/
results/
__pycache__/
.ipynb_checkpoints/
debug/
personachat/
expres/
testres/
reserve/
misc/
log
helmo/launch/results/
helmo/interact/pkg/
helmo/interact/results/
helmo/interact/src/
helmo/interact/src/
helmo/interact/telegram/
helmo/interact/answers*.txt
helmo/interact/damir_dialogs.txt
helmo/lstm_computation_effectiveness/results/
test.txt
*.pyc
**/*.pyc
dataset_info/
dataset_tags/
helmo/interact/damir_dialogs*.txt
helmo/interact/preppost_dialogs*.txt
helmo/interact/results_pp/
helmo/interact/sudo
helmo/util/plot/special_plot.py
plots/
